doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        h1 Index by Pug
        p Hello World
        #banner
        img(src="./img/index/colin-lloyd.jpeg")
        div=NODE_ENV
        div=AUTHOR
        if (NODE_ENV == 'development') 
            p 開發環境
        else
            p 正式環境
